a:active {color: #cc9900}
a:hover {color: #cc9900}
a {color: #005da0}
a:visited {color: #704d90}

body, h1, h2 {font-family: Arial, Verdana, Helvetica,  sans-serif; 
   font-size: 16px; font-style: normal; font-weight: normal; color: #000000; 
   letter-spacing: normal; word-spacing: normal;}
th {font-weight: bold;}
code {font-family: Courier, monospace; font-size: 16px;}
pre {font-family: Courier, monospace; font-size: 16px;}
dd {margin-left: 15px;}
caption {margin-top: 15px; margin-bottom: 15px;}
table {border-style: solid; border-color: #808080; 
   font-size: 16px;}


h1 {font-size: 24px; 
   margin-bottom: 0px; margin-top: 6px; font-weight: bold; color: #858a8b;}
h2 {font-size: 20px; 
   margin-bottom: 0px; margin-top: 6px; font-weight: bold; color: #858a8b;}
h3 {font-size: 18px; font-weight: bold; color: #858a8b;}
